# Node artifact files
node_modules/

# JetBrains IDE
.idea/

# VS Code
.vscode/

# Package files
*.jar
package-lock.json

# Cypress test execution artifacts
cypress/videos/
cypress/screenshots/
cypress/downloads/
downloads/